*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}


.hero{
    height: 80vh;
    width: 100%;
    background-color: #dadbf1;
    
}

nav{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%; */
    background-color: black;
    height: 90px;
    width: 100%;
    
}

.logo{
    height: 100px;
    line-height: 80px;
    padding: 0 0 0 100px;
}

nav ul{
    float: right;
    margin-right: 50px;
    line-height: 90px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.checkbtn{
    font-size: 25px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.text:hover{
    color: white;
    text-decoration: underline;
}

.btn-request{
    margin-right: 20px;
    border-color: white;
    color: white;
    height: 50px;   
    padding:6px 22px;
    font-size: 24px;
}

.btn-request:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}

.login{
    font-size: 24px;
    border-color: #4C5FD5;
    color: white;
    background-color: #4C5FD5;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 32px;
    padding-right: 32px;
}
.login:hover{
    background-color: white;
    border-color: white;
    color: black;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 24px;
}



   
    





.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.help{
    position: absolute;
    top: 100px;
    font-size: 80px;
    margin-top: 5%;
}

.search{
    width: 720px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    margin-top: 7%;
}

.icon{
    font-size: 20px;
    color: black;
}

input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.container{
    padding: 15% 7%;
    display: block;
}

.image{
    width: 80px;
}


.learn{
    color: #4C5FD5;
}

.adjust{
    margin-left: 40px;
    margin-bottom: 50px;
}

h4{
    font-size: 24px;
    font-weight: 700px;
}

.talk{
    font-size: 24px;
    line-height: 32px;
}

.heading{
    font-size: 24px;
    font-weight: 700;
}

.fa{
    color: #4C5FD5;
}

footer{
    background-color: black;
    color: white;
    line-height: 1.5;
    /* height: 60vh; */
    
}

ul{
    list-style: none;
    margin-bottom: 30px;
}

footer a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

a:hover{
    text-decoration: underline;
    color: white;
}

.ft-main{
    display: flex;
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
    
}

.ft-title {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 0.625rem;
  }

.ft-main-item{
    padding-left: 50px;
}

ul{
    padding-left: 0px;
}

.ft-last{
    margin-top: 150px;
    margin-left: 150px;
    /* position: absolute;
    bottom: 0;
    right: 0;
    top: 365.698px;
    left: 830.031px; */
}

.footer-logo{
    width: 30px;
}


@media (max-width: 1199px){
    .logo{
        height: 100px;
        padding-left: 0px;
    }

    /* nav ul li{
        display: none;
    } */
}
@media(max-width: 768px)  {
   
    .checkbtn{
        display: block;
        line-height: 100px;
    }

    .fa-magnifying-glass{
        margin-right: 10px;
    }

    ul{
        position: absolute;
        width: 100%;
        height: 50vh;
        background-color: black;
        text-align: center;
        /* top: 80px; */
        /* left: -100%; */
        transition: all 5s;
    }

    nav ul li{
        display: block;
    }

    .btn-request{
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        
    }
    .btn:focus, .btn:active{
        background-color: black;
        border-color: white;
        border: none;
    }
    .login{
        border: none;
        background-color: black;
        
    }

    .login:hover{
        background-color: black;
        color: white;
    }
    .help{
        display: none;
        font-size: 64px;
    }

    input{
        top: 150px;
    }
}
    